node_modules
dist
build
.git
.gitignore

# Bun
bun.lockb
.bun

# env files (unless you intentionally need them at build time)
.env
.env.local
.env.*.local

# editor/OS junk
.vscode
.idea
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# test/coverage
coverage
.nyc_output

# misc
README.md
.dockerignore
Dockerfile
docker-compose.yml